name: Demo

on:
  pull_request_target:
    types: [ edited, opened, reopened, synchronize ]

jobs:
  determine_issue_number:
    name: Determine issue number
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: echo PR data
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_URL: ${{ github.event.pull_request.html_url }}
          PR_BODY: ${{ github.event.pull_request.body }}
        run: |
          echo "PR Number: $PR_NUMBER"
          echo "PR URL: $PR_URL"
          cat <<EOF
          PR Body:
          $PR_BODY
          EOF
